#sidebar-wrapper{
    height: 100%;
    background: #343a40;
    position: fixed;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    color: white;
    font-size: 200%;
    text-align: center;    
}

.sidebar-nav > li:first-child{
    font-size: 400%;
    padding-bottom: 20px;
}

.sidebar-nav > li:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

.sidebar-nav li a:link, a:visited{
    color: white;
}

.sidebar-nav li a:hover{
    color: orange;
}
